.bandeau {
  color: var(--white, #fff);
  font-family: "IBM Plex Mono";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 125px 0px 80px 0px;
  z-index: 1;
}
