.footer-adresse {
  border-left: 1px solid var(--white, #fff);
  padding: 40px;
  line-height: normal;
  line-height: 30px;
}

.footer-cdg {
  border-left: 1px solid var(--white, #fff);
  padding: 40px;
  line-height: 30px;
}

.footer-licorne {
  padding: 40px;
}
