.header-biere-1 {
  position: relative;
  bottom: -6px;
  left: 658px;
  border: var(--Rouge-orang, #ff0c0c);
}

.header-biere-2 {
  position: relative;
  bottom: -80px;
  right: 100px;
  border: var(--Rouge-orang, #ff0c0c);
}

.logo-header {
  position: absolute;
  z-index: 1;
}
