.header-biere-1 {
  position: relative;
  bottom: 600px;
  left: 700px;
  border: 1px solid var(--Rouge-orang, #ff0c0c);
}

.header-biere-2 {
  position: relative;
  bottom: 200px;
  left: 600px;
  border: 1px solid var(--Rouge-orang, #ff0c0c);
}

.logo-header {
  position: absolute;
  z-index: 1;
}
