.header-biere-1 {
  position: relative;
  bottom: 0px;
  left: 650px;
}

.header-biere-2 {
  position: relative;
  bottom: 550px;
  left: 550px;
  margin: 0px 0px -500px 0px;
}

.logo-header {
  position: absolute;
  z-index: 1;
}
