.img-biere-1 {
  position: relative;
  bottom: 600px;
  left: 700px;
  border: 1px solid var(--Rouge-orang, #ff0c0c);
}

.img-biere-2 {
  position: relative;
  bottom: 1200px;
  left: 600px;
  border: 1px solid var(--Rouge-orang, #ff0c0c);
}
