.local {
  color: var(--white, #fff);
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border: #ff0c0c;
}

.local h2 {
  color: var(--white, #fff);
  font-family: "IBM Plex Mono";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
