.local {
  color: var(--white, #fff);
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border: solid 2px #ff0c0c;
  padding: 20px 20px 40px 40px;
}

.local h2 {
  color: white;
  font-family: "IBM Plex Mono";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 20px 100px 20px 0px;
}

.local-img {
  border: solid 2px #ff0c0c;
}

.local-img2 {
  border: solid 2px #ff0c0c;
  z-index: 1;
  position: relative;
  bottom: 350px;
  left: 158px;
}
