.shop-titre {
  color: var(--Rouge-orang, #ff0c0c);
  font-family: "IBM Plex Mono";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 20px;
}

.shop {
  padding: 80px;
}
