.newsletter {
  color: var(--Rouge-orang, #ff0c0c);
  font-family: "IBM Plex Mono";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 160% */
  text-transform: uppercase;
}
