/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

header {
  background: var(--blue-electric, #0012b6);
}

footer {
  color: var(--white, #fff);
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  background-color: #0012b6;
  border: 1px solid var(--white, #fff);
}

.logo-header {
  z-index: 1;
}
/* ====================================
// base rules
// ==================================== */
